#index.thml.haml

%h1 Cases
%ol
  = @cases.each do |case|
    %li
    = case.title
    %li
    = case.year
    %li
    = truncate(strip_tags(case.abstract), length: 80)
    %li.list_actions
    = link_to 'Show', case
    %li/
    = link_to 'Edit', edit_case_path(case)
    %li/
    = link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' }
    %li/
    = link_to 'New Case', new_case_path





%p Will show a list of cases as soon as I figure out how to do this.
